

a {
  color: #fefefe;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  font-size: 14px;
  white-space: nowrap;
}

.head-container {
  min-width: 980px;
  min-height: 155px;
  background: url(../images/banner2.jpg) no-repeat;
  background-position: center 0;
  background-size: 100%;
}

.head-container .menu-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 56px;
  box-sizing: border-box;
}

.head-container .menu-container {
  height: 56px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 24px;
  line-height: 30px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-link ul {
  height: 36px;
  display: flex;
  align-items: center;
}

.nav-link ul li {
  margin-right: 12px;
}

.search-box {
  position: relative;
  width: 500px;
  transition: width .3s;
}


.search-box .nav-search {
  display: block;
  padding: 0 38px 0 16px;
  border: 1px solid hsla(0, 0%, 100%, 0);
  border-radius: 2px;
  background-color: #fff;
}

.nav-search .search-text {
  width: 100%;
  height: 34px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: #999;
  font-size: 14px;
  line-height: 34px;
  transition: all .3s;
}

.nav-search .search-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 36px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 2px;
  padding: 0;
}


.right-menu {
  display: flex;
  align-items: center;
}

.right-menu .user-con {
  display: flex;
}

.right-menu .item {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.right-menu .avstar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.logo {
  width: 1440px;
  position: relative;
  left: 15%;
}

.logo img {
  width: 180px;
  height: 50%;
}

 .b-wrap {
  width: 1414px;
  height: 108px;
  margin: 0 auto;
  /* background-color: cyan; */
}


.b-wrap .wrap-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.b-wrap .wrap-container .round {
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: #ff5c7c;
}

.wrap-container .wrap-left {
  /* display: flex; */
  box-sizing: border-box;
  align-items: center;
}

.wrap-left .con {
  display: flex;
  width: 232px;
  height: 58px;
}

.wrap-left .con li {
  width: 58px;
  height: 68px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 16px;
  transition: all .3s;
  cursor: pointer;
}

.wrap-left .con a {
  width: 56px;
  height: 59px;
  color: #212121;
  transition: all .3s;
  box-sizing: border-box;
}

.wrap-left .con div {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #ff5c7c;
  border-radius: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto 4px;
} 

/* 分割线 */
.tab-line-itnl {
  height: 46px;
  border-left: 1px solid #e7e7e7;
  margin: auto 20px;
  display: inline-block;
}


/* 中间导航栏 S */
.wrap-container .primaryMenu {
  width: 874px;
  height: 68px;
  /* background-color: #fff; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.primaryMenu span > div {
  display: flex;
}

.primaryMenu div > a {
  display: flex;
  font-size: 14px;
  align-items: center;
  color: #212121;
  transition: all .3s;
  white-space: nowrap;
}

.primaryMenu span {
  box-sizing: border-box;
  height: 34px;
}

.primaryMenu span > em {
  background-color: #73c9e5;
  border-radius: 2px;
  font-size: 12px;
  display: inline-block;
  margin-left: 1px;
  font-style: normal; 
  width: 32px;
  text-align: center;
  transform: scale(.85);
}

/* 中间导航栏 E */

/* 右边导航栏 S */

.wrap-container .right-menu {
  width: 242px;
  /* background-color: blue; */
}

.right-menu .right-item {
  height: 68px;
  width: 289px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.right-item .span-div {
  height: 34px;
  display:flex;
}

.right-item .span-div > a {
  font-size: 14px;
  color: #212121;
  transition: all .3s;
}

/* 右边导航栏 E */

/* 底部中分线 S */

  .bili-foot-lnt {
    display: inline-block;
    height: 50px;
    border-left: 1px solid #e7e7e7;
    margin: auto 20px;
  }

/* 底部中分线 E */


/* 底部内容区域 S */

.foot-content {
  background-color: #f6f9fa;
}



.bili-foot {
  display: flex;
  justify-content: center;
}

.foot-container {
  display: flex;
  width: 1414px;
  justify-content: space-between;
  font-size: 14px;
  margin: auto 0;
}

/* 底部左边区域 */
.foot-left {
  display: flex;
  justify-content: space-between;
}

.foot-left .left-menu {
  padding-right: 40px;
  margin-right: 40px;
  border-right: 1px solid #eee;  
  width: 429px;
}

.left-menu > span {
  font-size: 16px;
  margin-bottom: 20px;
  height: 20px;
  display: block;
  color: #999;
}


.left-ul {
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.left-ul  li > a {
  display: inline-block;
  margin-bottom: 10px;
  width: 50%;
  height: 20px;
  cursor: pointer;
  color: #212121;
}

.right-div {
  width: 623px;
  padding-right: 40px;
  margin-right: 40px;
  border-right: 1px solid #eee;
}

.right-div > span {
  color: #999;
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
}

.right-div .right-ul {
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.right-div .right-ul li {
  width: 33.3%;
}

.right-ul li > a {
  color: #212121;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}

/* 右边菜单 S */

.right-menu {
  display: flex;
  align-items: center;
}

.right-menu .link-item {
  display: flex;
  margin-right: 0;
  padding-right: 0;
  border-right: none;
  justify-content: space-between;
  align-items: center;
}

.a-wraper {
  min-width: 70px;
  text-align: center;
}

.a-wraper > i {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: cyan;
  border-radius: 50%;
}


/* 右边菜单 E */

/* 底部左边图片 S */

.partner {
  width: 1414px;
  min-width: 999px;
  max-width: 1630px;
  display: flex;
  padding-top: 30px;  
  margin: 0 auto;
  /* background-color: cyan;   */
}

.partner .pic-box {
  margin-right: 20px;
  width: 100px;
  height: 168px;
}

.pic-box  .img1 {
  width: 96px;
  height: 75px;
  vertical-align: middle;
}

.pic-box .img3 {
  width: 100px;
  height: 40px;
}

.text-con > p, a {
  font-size: 12px;
  color: #999999;
}

.text-con > p {
  line-height: 24px;
}
.text-con-p > span,a {
  margin-right: 15px;
  display: inline-block;
}

.text-con-p2 > a {
  color: #999999;
  font-size: 12px;
}

/* 底部左边图片 E */



/* 底部内容区域 E */


/* 内容区域 S */

.content {
  margin: 0 auto;
}

.first-screen {
  width: 1414px;
  margin: auto 0;
  background-color: cyan;
  height: 100px;
}

/* 内容区域 E */